nav {
  background: #118;
  color: #fff;
  margin: 0 auto;
}

header, main, footer {
  max-width: 960px;
  margin: 0 auto;
}

header {
  padding: 5px;
}

.name-me-later {
  height: 300px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}